{# templates/business_message.jinja #}

{% if is_edited %}
{% set title = "🚨 *EDITED MESSAGE*" %}
{% set msg_id_caption = "Edited message ID" %}
{% set msg_text_caption = "New message text" %}
{% else %}
{% set title = "*NEW MESSAGE*" %}
{% set msg_id_caption = "Message ID" %}
{% set msg_text_caption = "Message text" %}
{% endif %}

{{ title }}

• *In the chat with:*
  {{ chat_fname }} (`{{ chat_id }}`)
• *Who sent the message:*
  {{ user_fname }} (`{{ user_id }}`)
• *{{ msg_id_caption }}:* `{{ message_id }}` (`{{ msg_type }}`)
{% if text or caption %}• *{{ msg_text_caption }}:*

{{ text or caption }}{% endif %}
